@charset "UTF-8";
*{
    margin: 0;
    padding: 0;
}
:root {
    --text-color1: #222;
    --text-color2: #403b21;
    --background-color1: transparent;
    --background-color2: #ffffff48;
    --background-color3: #F5F2EE;
    --font-size1: 40px;
    --font-size2: 22px;
    --font-size3: 18px;
    --font-size4: 15px;
}
ul,ol{
    list-style: none;
}
a{
    color: var(--text-color1);
    text-decoration: none;
    font-family: 'Kaisei HarunoUmi', Pretendard Variable, serif;
}
body{
    font-family: 'Kaisei HarunoUmi', Pretendard Variable, serif;
    font-weight: 500;
    font-size: 22px;
    line-height: 120%;
    color: #222;
}
p{
    line-height: 140%;
}

/* sroll_top */
#fixed_wrap{
    overflow: hidden;
}
#btn_top {
    position: fixed;
    right: 5rem;
    bottom: 5rem;
    z-index: 9;
}
#btn_top a {
    cursor: pointer;
    display: inline-block;
}
@media screen and (max-width:1200px){
    #btn_top{
        right: 3rem;
        bottom: 3rem;
    }
}
@media screen and (max-width:600px){
    #btn_top{
        right: 2rem;
        bottom: 2rem;
    }
}

/* pc_nav */
#pc_top_wrap{
    height: 40px;
    background-color: var(--background-color2);
    backdrop-filter: blur(100px);
    position: absolute;
    width: 100%;
    z-index: 2;
    overflow: hidden;
}
.pc_top{
    margin: 0 auto;
    position: absolute;
    top: 8px;
    white-space: nowrap;
    will-change: transform;
    animation: marquee 40s linear infinite;
    font-size: var(--font-size4);
    color: #ffffff;
}
.pc_top img{
    display: inline-block;
}
@keyframes marquee {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-50%);
    }
}

@media screen and (max-width:1200px){
    #pc_top_wrap{
        display: none;
    }
}

/* header */
#header_wrap {
    height: 80px;
    background-color: var(--background-color1);
    border-bottom: 1px solid #ffffffa3;
    backdrop-filter: blur(50px);
    position: absolute;
    width: 100%;
    z-index: 2;
    top: 40px;
}
#header {
    margin: 16px auto;
    width: 90vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#header .logo>img {
    width: 10vw; 
}
#header .pc_gnb ul, #header .language_wrap ul {
    display: flex;
}
#header .pc_gnb ul li{
    padding: 0 1em;
}
#header .language_wrap ul li{
    padding-left: 1em;
    font-size: var(--font-size3);
}
.pc_gnb ul li a,
.language_wrap ul li a{
    color: var(--text-color2);
}
.pc_gnb ul li a:hover,
.language_wrap ul li a:hover{
    text-shadow: 0cm 0px 3px #7d923850;
}
.m_menu_btn{
    display: none;
    position: absolute;
    right: 2rem;
    z-index: 3;
}

@media (max-width:1200px) {
    #header_wrap {
        top: 0px;
    }
    #header{
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
    }
    #header .logo img {
        display: block;
        padding-left: 2rem;
    }
    #header .pc_gnb ul{
        flex-direction: column;
        align-items: center;
        width: 100%;
        background-color: var(--background-color3);

        position: absolute;
        top: 81px;
        z-index: 1;
    }
    #header .pc_gnb ul li{
        width: 100%;
        text-align: center;
        padding: 20px 0;
    }
    .pc_gnb ul li:hover a,
    .language_wrap ul li:hover a{
        color: #7d9238;
    }
    #header .language_wrap ul{
        flex-direction: column;
        align-items: center;
        width: 100%;
        background-color: var(--background-color3);

        position: absolute;
        top: 266px;
        z-index: 1;
    }
    #header .language_wrap ul li{
        width: 100%;
        text-align: center;
        padding: 20px 0;
    }
    #header .language_wrap ul li:nth-child(1){
        margin-top: 8px;
    }
    .toggle_menu1,
    .toggle_menu2
    {
        display: none;
        justify-content: center;
        width: 100%;
        flex-direction: column;
        align-items: center;
        padding: 2em 0;
    }
    .navbar_toggleBtn{
        display: block;
    }
    .toggle_menu1.active,
    .toggle_menu2.active{
        display: flex;
    }
}
@media (max-width:600px) {
    #header .logo img {
        width: 30vw;
        padding: 0.7rem 2rem;
    }
}


/* video */
#video_wrap{
    overflow: hidden;
    object-fit: cover;
}
#video_wrap video{
    margin: 0 auto;
    width: 100vw;
    overflow: hidden;
}
.m_video{
    display: none;
}
@media (max-width:600px) {
    .pc_video{
        display: none;
    }
    .m_video{
        display: block;
    }
}

/* product */
#product_wrap{
    background-color: var(--background-color3);
    overflow: hidden;
    position: relative;
}
#product{
    margin: 0 auto;
    width: 100vw;
    overflow: hidden;
}
#product> ul> li> a{
    display: block;
    
    padding: 1.5em 4rem;
    font-size: var(--font-size1);
    line-height: 105%;

    position: relative;
}
#product> ul> li> a> span> img{
    position: absolute;
    top: 2.7em;
    left: 15rem;
    z-index: 2;
}
#product> ul> li:nth-child(2)> a> span> img{
    position: absolute;
    top: 2.7em;
    left: 13rem;
    z-index: 2;
}
#product> ul> li> a:hover{
    color: var(--text-color2);
    text-shadow: 0cm 0px 3px #7d923850;
}
#product> ul> li> a> span{
    font-size: var(--font-size2);
}
#product_img{
    position: absolute;
    top: 150px;
    right: -180px;
    z-index: 2;
}
#product_img img{
    width: 100%;
}
@media (max-width:1200px){
    #product> ul> li> a{
        border-bottom: 1px solid #ddd;
    }
    #product_img{
        display: none;
    }
}

/* section: about + show */
#section_wrap{
    overflow: hidden;
}
#section_wrap ul{
    display: flex;
    flex-wrap: wrap;
}
#section_wrap ul li{
    width: 50%;
}
#section_wrap ul li img{
    display: block;
    width: 100%;
    height: 100%;
}
.acostar_show{
    flex-direction: row-reverse;
}
.text_box{
    text-align: center;
    padding: 10em 8rem;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.text_box_logo{
    margin: 0 auto;
    width: 40vw;
}
.text_box h1{
    color: var(--text-color2);
    padding: 20px 0 50px 0;
    line-height: 120%;
}
.text_box h1 img{
    display: inline-block;
    width: 100%;
}
.text_box p{
    line-height: 140%;
}
a.btn{
    display: inline-block;
    color: var(--text-color2);
    padding: 0.5em 2.2rem;
    border: 1px solid var(--text-color2);
    border-radius: 0.2em;
    margin-top: 50px;
    backdrop-filter: blur(100px);
}
a.btn:hover{
    background-color: var(--background-color3);
}
.acostar_show{
    border-bottom: 1px solid #eadea2a3;
}
@media (max-width:1200px){
    .text_box{
        padding: 5em 5rem;
    }
    p,
    a.btn{
        font-size: var(--font-size3);
    }
}
@media (max-width:800px){
    .text_box{
        padding: 5em 5rem;
    }
    .text_box h1{
        padding: 0 0 20px 0;
    }
    #section_wrap ul li{
    width: 100%;
    }
}

/* product_service */
#product_service_wrap{
    overflow: hidden;
}
.product_service{
    margin: 25vh auto;
    width: 90vw;
    text-align: center;
}
.color2{
    color: var(--text-color2);
}
.title{
    font-size: var(--font-size1);
    line-height: 130%;
}
.sub_title{
    padding: 2vh 0 3vh 0;
    font-size: var(--font-size2);
}

.product_service ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 8vh 0 10vh;
}
.product_service ul li{
    flex: auto;
    width: 33.3%;
    padding: 0 1.2rem;
    box-sizing: border-box;
}
.product_service> ul> li> p{
    padding: 0.2em 0;
    font-size: var(--font-size3);
}
.product_service ul li p.sub_text{
    font-size: var(--font-size2);
}
.img_wrap{
    margin: 0 auto;
    width: 20%;
}
.product_service ul li img{
    width: 100%;
    display: block;
    opacity: .8;
}
.product_service ul li img:hover{
    opacity: 1;
}

@media (max-width:800px){

    .product_service{
        margin: 15vh auto;
    }
    .product_service ul{
        margin: 4vh 0 4vh;
    }
    .product_service ul li{
        width: 100%;
        padding-bottom: 50px;
        margin: 0;
    }
    .product_service ul li:nth-child(3){
        padding-bottom: 0px;
    }
    .title{
        font-size: 35px;
    }
    .product_service ul{
        flex-direction: column;
    }
    .product_service> p{
        padding: 20px 0 30px 0;
    }
    .product_service ul li p{
        margin: 0 auto;
        width: 80%;
    }
    .img_wrap{
        width: 20%;
    }
}

/* sleep_story */
#sleep_story_wrap{
    background-image: url(../images/sleep_story_bg.png);
    /* height: 100vh; */
    overflow: hidden;
}
.sleep_story{
    margin: 20vh auto;
    width: 56vw;
    text-align: center;
}

#sleep_story_wrap> .sleep_story> .img_wrap{
    margin: 0 auto;
    width: 60%;
    padding-top: 20px;
}
#sleep_story_wrap> .sleep_story> .img_wrap img{
    display: block;
    width: 100%;
}

@media (max-width:1200px){
    .sleep_story{
        margin: 20vh auto;
    }
    #sleep_story_wrap> .sleep_story> .img_wrap{
        width: 80%;
    }
}
@media (max-width:800px){
    .sleep_story{
        margin: 15vh auto;
    }
    .sleep_story p{
        padding: 20px 0;
    }
}

/* insta */
.insta{
    margin: 20vh auto;
    width: 90vw;
    text-align: center;
}
.insta p{
    padding-bottom: 100px;
}
.insta ul{
    display: flex;
    flex-wrap: wrap;
}
.insta ul li{
    width: 31%;
    padding: 0.2rem;
    flex: auto;
}
.insta ul li a .screen img{
    display: block;
    width: 100%;
}
ul> li > a .screen{
    position: relative;
    overflow: hidden;
}
ul> li > a .screen::after{
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #403b2171;
    z-index: 1;
    opacity: 0;
    transition: all .35s;
}
ul> li> a:hover .screen::after{
    opacity: 1;
}


@media (max-width:1200px){
    .insta ul li{
        width: 48%;
        padding: 0.2rem;
        flex: auto;
    }
    .insta> .title{
        font-size: 30px;
    }
    .insta ul li:nth-child(9){
        display: none;
    }
}

/* footer */
#footer_wrap{
    height: 450px;
    background-color: #635E42;
    padding: 120px 0;
    box-sizing: border-box;
}
.footer{
    margin: 0 auto;
    width: 90vw;
    color: white;
    font-size: var(--font-size4);
    display: flex;
    flex-wrap: wrap;
}
.footer> div> h1{
    padding-bottom: 50px;
}
.footer> div span{
    color: #ffffffb2;
}
.footer> div> ul{
    display: flex;
}
.footer> div> ul> li{
    flex: auto;
    padding-top: 8px;
} 
.footer> div> ul> li> a{
    display: block;
    color: white;
}
.footer> div> ul> li> a:hover{
   text-decoration: underline;
}
.footer div{
    flex: auto;
}
@media (max-width:1200px){
    #footer_wrap{
        height: 700px;
        padding: 100px 0;
        box-sizing: border-box;
    }
    .footer> div{
        width: 100%;
        text-align: center;
    }
    .footer_p{
        padding-top: 50px;
    }
    .footer> div> ul> li{
        padding-top: 20px;
    } 
}
@media (max-width:600px){
    .footer{
        width: 80vw;
    }
}
